<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<center>
    <br><br>
    <h2 style="color:green">Main</h2>
    <br><br>

    <a href="/insert"><button type="button" class="btn btn-primary">Insert Information</button></a>
    <a href="/delete"><button type="button" class="btn btn-primary">Delete Information</button></a>
    <a href="/change"><button type="button" class="btn btn-primary">Change Information</button></a>
    <a href="/query"><button type="button" class="btn btn-primary">Lookup Information</button></a>

</center>

</body>

</html>
