<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<center>
    <br><br>
    <h2 style="color:green">Result</h2>
    <br><br>

    <ul class="list-group" style="width:300px">
        <li class="list-group-item" th:text="'Id: ' + ${student.studentId}"></li>
        <li class="list-group-item" th:text="'Name: ' + ${student.name}"></li>
        <li class="list-group-item" th:text="'Score: ' + ${student.score}"></li>

    </ul>

    <h4>
        <span class="glyphicon glyphicon-saved"></span>
        Insert into MySQL successfully!
    </h4>

    <a href="/change"><button type="button" class="btn btn-primary">Return to Change Page</button></a>

</center>

</body>

</html>
